* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #1e1e1d;
}

/* img {
    width: 50px;
    height: 50px;
} */
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    background-color: #2c2c2c;
    border: 4px solid #575757;
    border-radius: 15px;
}

.skill-1 {
    position: relative;
    width: 50px;
    height: 50px;
}

img {
    filter: blur(0px);
}

.lvl-field {
    background-color: #575757;
    color: white;
    width: 35px;
    height: 20px;
    text-align: center;
    font-size: 0.875rem;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 1;
    border: none;
    border-radius: 5px;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.skill-1:hover .lvl-field {
    opacity: 1;
}

.skill-1:hover img {
   filter: blur(1.5px);
   transition: filter 0.3s ease;
}

.lvl-field:focus {
    outline: none;
}

.show-field {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}